body {
	background-color:#e0e0eb;
	font-family:Century Gothic, sans-serif;
	
}
.fixed-nav-bar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 70px;
	background-color: #602020;
}
.menu-items {
	display: inline-block;
}
.menu-items li {
	display: inline-block;
	margin-right: 100px;
	margin-left: 10px;
	color:#ffffff
}
.menu-items img {
	position:absolute;
	top:2px;
	left:10px;
}	

#app{	
	position:relative;
	top:-5px;
	left:160px;
	font-size:35px;
}
#app1{
	position:relative;
	left:100px;
	font-size:20px;	
}
#app2{
	position:relative;
	
	font-size:20px;	
}
.credtable{
	width: 90%;
	font-size: 15px;
	margin-left:5%;
}
.credtable td{
	padding:10px;
	text-align:center;
	border-radius:5px;
	background-color:#efeff5;
}
.credtable th{
	background-color:#efffff;
	border-radius:5px;
	padding:10px 15px 10px 8px;
	
}
input[type="submit"] {
  width: 50%;
  padding:5px;
  border-radius: 5px;
  font: 25px bold;
  background-color:#b1b1cd;
  margin-left:25%;
}
input[type="submit"]:hover {
  background-color:#f2f2f2;
  cursor: pointer;
}
